#app-container {
    margin-top: 3%;
}

#login-button-container {
    margin-top: 5%;
}

.minute-input-form {
    margin-top: 2em;
    margin-bottom: 5em;
}

.total-container {
    text-align: center;
}

#total {
    font-size: 30pt;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 20pt;
    color: gray;
    position: fixed;
    top: 10%;
}

#loader {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 20%;
}
