#app-container {
    margin-top: 3%;
}

#login-button-container {
    margin-top: 10%;
    max-width: 800px;
    text-align: center;
}

p.staging-link-paragraph {
    margin-top: 30px;
    font-size: 12pt;
}

.total-container {
    text-align: center;
    margin-top: 5%;
}

.minute-input-form {
    margin-top: 2em;
    margin-bottom: 5em;
}

#total {
    font-size: 30pt;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 20pt;
    color: gray;
    position: fixed;
    top: 10%;
}

#loader {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 20%;
}

ul.navbar-nav {
    min-width: 50%;
}

li.dropdown {
    width: 100%;
    text-align: center;
    font-size: 12pt;
}

#login-name {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: black;
}

#total.positive {
    color: #008000;
}

#total.negative {
    color: #800000;
}
